.modal {
    z-index: 1000;
    position: fixed;
    width: 720px;
    min-height: 500px;
    top: 50%;
    left: 50%;
    background-color: #1C1C21;
    border-radius: 40px;
    transform: translate(-50%, -50%);
}

.close_button {
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: inherit;
    border: none;
}